<h1>QR Code Generator</h1>
<br>
<h2>Use the back button to generate again</h2>
<br>
<form action="/" method="post">
  <fieldset>
    <legend>Please enter the URL and select your image size:</legend>
    <label for="url">URL:</label>
    <input size="100" type="text" id="url" name="url" placeholder="https://skatesouth.com/index.html">
    <br>
    <br>
    <div>
      <input type="radio" id="imageSize1" name="image_size" value="small" checked="checked" />
      <label for="imageSize1">Small</label>

      <input type="radio" id="imageSize2" name="image_size" value="medium" />
      <label for="imageSize2">Medium</label>

      <input type="radio" id="imageSize3" name="image_size" value="large" />
      <label for="imageSize3">Large</label>
    </div>
    <br>
    <br>
    <div>
      <button type="submit">See QR Code</button>
    </div>
  </fieldset>
</form>
