<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <title>QR Code Generator for Lisa</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>